@model MemberRegisterViewModel
@{
    ViewData["Title"] = "Register";
}



<div class="main-container">
    <div class="register">
        <div class="block">
            <div class="block-header">
                <h2 class="title page-title">İSTİFADƏÇİ QEYDİYYATI</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-action="index" asp-controller="home">Ana səhifə</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <span>QEYDİYYAT</span>
                    </li>
                </ul>
            </div>
            <div class="block-body">
                <div class="card card-auth card-reg mb-20">
                    <div class="card-auth-header">
                        <h1 class="card-auth-title upper">
                            İSTİFADƏÇİ QEYDİYYATI
                        </h1>
                    </div>
                    <form method="post" class="form-reg">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <h3 class="form-title">
                                    Profil məlumatları
                                </h3>
                                <div class="row">
                                    <div class="col-6">
                                        <input asp-for="FullName" type="text" placeholder="Ad və soyad" required="required"
                                               autocomplete="none" aria-required="true" class="form-control">
                                        <span style="font-size:13px" class="text-danger" asp-validation-for="FullName"></span>
                                    </div>
                                    <div class="col-6">
                                        <input asp-for="UserName" type="text" placeholder="İstifadəçi adı" required="required"
                                               autocomplete="none" aria-required="true" class="form-control">
                                        <span style="font-size:13px" class="text-danger" asp-validation-for="UserName"></span>
                                    </div>
                                    <div class="col-6">
                                        <input asp-for="Email" placeholder="Email" required="required"
                                               autocomplete="none" aria-required="true" class="form-control">
                                        <span style="font-size:13px" class="text-danger" asp-validation-for="Email"></span>
                                    </div>
                                    <div class="col-6">
                                        <input asp-for="PhoneNumber" placeholder="Telefon" required="required"
                                               autocomplete="none" aria-required="true" class="form-control">
                                        <span style="font-size:13px" class="text-danger" asp-validation-for="PhoneNumber"></span>
                                    </div>
                                    <div class="pass col-md-6 col-12">
                                        <input asp-for="Password" placeholder="Şifrə"
                                               required="required" autocomplete="new-password" aria-required="true"
                                               class="form-control password-input">
                                        <span style="font-size:13px" class="text-danger" asp-validation-for="Password"></span>

                                        <a class="visiblity-btn showPass showPassword1">
                                            <span aria-hidden="true" class="show_p hide-eye"></span>
                                        </a>
                                    </div>
                                    <div class="pass col-md-6 col-12">
                                        <input asp-for="ConfirmPassword"
                                               placeholder="Şifrənin təkrarı" required="required"
                                               autocomplete="new-password" aria-required="true"
                                               class="form-control password-input">
                                        <span style="font-size:13px" class="text-danger" asp-validation-for="ConfirmPassword"></span>

                                        <a class="visiblity-btn showPass showPassword2">
                                            <span aria-hidden="true" class="show_p hide-eye"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <dnt-captcha asp-captcha-generator-max="30"
                                     asp-captcha-generator-min="1"
                                     asp-captcha-generator-language="English"
                                     asp-captcha-generator-display-mode="SumOfTwoNumbers"
                                     asp-use-relative-urls="true"
                                     asp-placeholder="Security code as a number"
                                     asp-validation-error-message="Please enter the security code as a number."
                                     asp-font-size="20"
                                     asp-fore-color="#333333"
                                     asp-back-color="#FCF6F5FF"
                                     asp-text-box-class="form-control"
                                     asp-text-box-template="<div class='input-group'><span class='input-group-text'><span class='bi-lock'></span></span>{0}</div>"
                                     asp-validation-message-class="text-danger"
                                     asp-refresh-button-class="bi-arrow-counterclockwise btn-lg"
                                     asp-show-refresh-button="true"
                                     asp-dir="ltr" />
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-reg-footer">
                            <button type="submit" class="btn btn-submit form-reg-btn btn-primary">
                                <span>QEYDİYYAT</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/register.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>