
@model LimakAz.ViewModels.BalanceViewModel
@{
    ViewData["Title"] = "Online Shop";
    Layout = "_PaymentLayout";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<form asp-action="pay" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="payModel.CustomerName" class="control-label"></label>
                <input asp-for="payModel.CustomerName" class="form-control" />
                <span asp-validation-for="payModel.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="payModel.Email" class="control-label"></label>
                <input asp-for="payModel.Email" class="form-control" />
                <span asp-validation-for="payModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="payModel.Address" class="control-label"></label>
                <input asp-for="payModel.Address" class="form-control" />
                <span asp-validation-for="payModel.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label bg-info">Card number 4242424242424242, any future month, year and CVC any 3 digit number can be used for testing!</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="payModel.CardNumder" class="control-label"></label>
                <input asp-for="payModel.CardNumder" class="form-control" />
                <span asp-validation-for="payModel.CardNumder" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="payModel.Month" class="control-label"></label>
                    <input asp-for="payModel.Month" class="form-control" placeholder="MM" />
                    <span asp-validation-for="payModel.Month" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="payModel.Year" class="control-label"></label>
                    <input asp-for="payModel.Year" class="form-control" placeholder="YYYY" />
                    <span asp-validation-for="payModel.Year" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="payModel.CVC" class="control-label"></label>
                <input asp-for="payModel.CVC" class="form-control" />
                <span asp-validation-for="payModel.CVC" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model != null)
                {

                    <span class="text-danger">Total Amount: $ @Model.Amount</span>

                }
            </div>

            <div class="form-group text-right">
                <input type="submit" value="Stripe Checkout" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}